@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.botao a{
    color: #2f2325;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.imagem{
    height: 48px;
}

.menu{
    display: flex;
    gap: 16px;
}

.item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-size: 14px;
    font-weight: 400;
}

.conteudo{
    border-top: solid #FFF2E7 0.4px;
    margin-bottom: 24px;
}

.conteudoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.conteudoEscrito{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.titulo{
    font-family:'righteous', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 32px;
    color: #FFF2E7;
    text-align: center;
}

.subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ecd6c4;
    text-align: center;
}

.botao{
    background-color: #ecd6c4;
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2f2325;
    transition: background 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.bot{
    height: 300px;
    max-width:
