@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;

}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.botao a{
    color: #2f2325;

}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem{
    height: 72px;
    }

.menu{
    display: flex;
    gap: 32px;
}

.item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-size: 18px;
    font-weight: 400;
}

.conteudo{
    border-top: solid #FFF2E7 0.4px;
    margin-bottom: 48px;
}

.conteudoPrincipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.conteudoEscrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.titulo{
    font-family:'righteous', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 64px;    
    color: #FFF2E7;
    
}

.subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.botao{
    background-color: #ecd6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #2f2325;  
    transition: background 0.5s;
    text-decoration: none;
}

.botao:hover{
background-color: rgba(236, 214, 196, 0.53);
}

.bot{
    height: 430px;
}

.secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.tituloSecundario{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family:'righteous', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.paragrafoSecundario{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.imagemRodape{
    height: 48px;
    display: block;
    margin: 0 auto;

}

@media (max-width: 768px) {
  /* estilos para telas menores que 768px de largura */
  .cabecalho {
    flex-direction: column;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
    .conteudoEscrito  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    

  .bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
}

@media (min-width: 769px) {
  /* estilos para telas maiores ou iguais a 769px de largura */
  .cabecalho {
    flex-direction: row;
    justify-content: space-around;
  }

  .menu {
    display: flex;
  }

  .bot {
    height: 430px;
  }
}

